<div class="mb-4 flex items-center justify-between">
  <h1 class="text-2xl font-semibold text-gray-700">Todo</h1>
  <div class="flex items-center space-x-2">
    <input
      type="text"
      placeholder="Search..."
      class="w-full md:w-64 px-4 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring focus:ring-blue-300 focus:border-blue-500"
    />
    <button
      class="px-4 py-2 border-gray-200 dark:bg-gray-600 text-white text-sm font-medium rounded-lg shadow hover:dark:bg-gray-400 focus:outline-none focus:ring focus:ring-blue-300"
    >
      Search
    </button>
  </div>
</div>
<div class="bg-white shadow-md rounded-lg overflow-hidden">
  <table class="min-w-full bg-white">
    <thead class="bg-gray-100 border-b">
      <tr>
        <th class="p-3 text-sm font-semibold text-left text-gray-700 bg-gray-200">User</th>
        <th class="p-3 text-sm font-semibold text-left text-gray-700 bg-gray-200">Title</th>
        <th class="p-3 text-sm font-semibold text-left text-gray-700 bg-gray-200">Description</th>
        <th class="p-3 text-sm font-semibold text-left text-gray-700 bg-gray-200">Deadline</th>
        <th class="p-3 text-sm font-semibold text-left text-gray-700 bg-gray-200">Status</th>
        <th class="p-3 text-sm font-semibold text-left text-gray-700 bg-gray-200">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td class="px-3 py-4 text-sm font-normal text-left text-gray-600 bg-gray-50">
            <%= task.user.email %>
          </td>
          <td class="px-3 py-4 text-sm font-normal text-left text-gray-600 bg-gray-50">
            <%= truncate(task.title, lenght: 50) %>
          </td>
          <td class="px-3 py-4 text-sm font-normal text-left text-gray-600 bg-gray-50">
            <%= truncate(task.description, lenght: 50) %>
          </td>
          <td class="px-3 py-4 text-sm font-normal text-left text-gray-600 bg-gray-50">
            <% if task&.deadline > Time.zone.today %>
              <span class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:text-blue-900"><%= task.deadline.strftime("%d/%m/%y") %></span>
            <% elsif task&.deadline == Time.zone.today %>
              <span class="bg-yellow-100 text-yellow-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:text-yellow-900"><%= task.deadline.strftime("%d/%m/%y") %></span>
            <% else %>
              <span class="bg-red-100 text-red-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:text-red-900"><%= task&.deadline.strftime("%d/%m/%y") %></span>
            <% end %>
          </td>
          <td class="px-3 py-4 text-sm font-normal text-left text-gray-600 bg-gray-50">
            <% if task.status == "finished" %>
              <span class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:text-blue-900"><%= task.status %></span>
            <% elsif task.status == "to_finish" %>
              <span class="bg-yellow-100 text-yellow-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:text-yellow-900"><%= task.status.dasherize %></span>
            <% end %>
          </td>
          <td class="flex justify-normal px-3 py-4 text-sm font-normal text-left text-gray-600 bg-gray-50">
            <%= link_to 'Update', edit_products_todo_task_path(task), class: "mx-0.5	px-4 py-2 border-gray-200 dark:bg-gray-600 text-white text-sm font-medium rounded-lg shadow hover:dark:bg-gray-400 focus:outline-none focus:ring focus:ring-blue-300"%>
            <%= link_to 'View', products_todo_task_path(task), class: "mx-0.5 px-4 py-2 border-gray-200 dark:bg-gray-600 text-white text-sm font-medium rounded-lg shadow hover:dark:bg-gray-400 focus:outline-none focus:ring focus:ring-blue-300"%>
            <%= button_to "Finish", products_todo_task_path(task),   
                  params: { product_todo_task: { status: "finished" } }, 
                  method: :patch, data: { confirm: "Mark this To-Do as being completed?  This will hide it from view." },
                  class: "mx-0.5 px-4 py-2 border-gray-200 dark:bg-gray-600 text-white text-sm font-medium rounded-lg shadow hover:dark:bg-gray-400 focus:outline-none focus:ring focus:ring-blue-300" %>
            <%= button_to "Delete", products_todo_task_path(task), method: :delete, 
                  class: "mx-0.5 px-4 py-2 border-gray-200 dark:bg-gray-600 text-white text-sm font-medium rounded-lg shadow hover:dark:bg-gray-400 focus:outline-none focus:ring focus:ring-blue-300" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="text-center my-4">
  <div role="navigation" aria-label="Pagination" class="px-3 py-2 mx-2 text-gray-700 no-underline bg-white rounded-lg">
    <div class="flickr_pagination">
      <div class="py-4">
        <%= page_entries_info @tasks %>
      </div>
      <div class="py-4">
        <%= will_paginate @tasks %>
      </div>
    </div>
  </div>
</div>
